---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md'); /*Crea un arxiu de array d'objectes, en aquest cas, de posts de blog*/
import "../styles/global.css";

const pageTitle = "El meu blog Astro";
---

<BaseLayout pageTitle={pageTitle}>
        <h2>Podria realment posar alguna cosa aqui?</h2>
        <p>
            Es la meva primera pàgina penjada aquí per internet. Podria parlar o
            explicar coses.
        </p>
        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)} <!-- El que hi havia abans es troba a BlogPost.astro. -->
        </ul>                                                                                    <!-- Literalment el mateix, però l'hem convertit en un component. -->
</BaseLayout>