---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob('./posts/*.md');
import "../styles/global.css";

const pageTitle = "El meu blog Astro";
---

<BaseLayout pageTitle={pageTitle}>
        <h2>Podria realment posar alguna cosa aqui?</h2>
        <p>
            Es la meva primera pàgina penjada aquí per internet. Podria parlar o
            explicar coses.
        </p>
        <ul>
            {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
        </ul>
</BaseLayout>