---
const { title, url } = Astro.props; /*Declarem title i url com a props d'Astro */
---
<li><a href={url}>{title}</a></li> <!-- La part dels blogs que substituirem. Realment estem canviant una cosa que fa el mateix que això -->